@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


/*font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header{

    background-color: #22195b;
    padding-bottom: 20px ;
    padding-top: 30px;
}
.col-lg-5 img{
	margin-top: 15px;
}
.main-menu ul li{
	list-style: none;
    display: inline-block;
    margin-left: 27px;
    margin-top: 17px;
   
 }
 .main-menu ul li{
 	 cursor: pointer;}

.main-menu ul li a{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}
 


/* banner section */
.hero-banner{
	position: relative;
	padding-top: 200px;
	padding-bottom: 200px;
}
.banner{
	background: url('img/banner.png') left center no-repeat;
	content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-size: cover;
    position: absolute;
}
.hero-img img{
	position: absolute;
    top: -35px;
    left: -110px;
}

.banner-content{
	color: white;
	margin-top: 30px;
}
.banner-content h1{
	font-family: 'Rajdhani', sans-serif;
	font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
}

.banner-content p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    margin-bottom: 45px;
}


/* about section */
.about{
	width: 100%;
	padding: 100px 0;
	
}
.about h1{
	font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.title p{
	font-family: 'Roboto', sans-serif;
	margin-left: 200px;
    margin-right: 200px;
}

/* service section */
.second{
	margin: 60px 0;
}
.service-1{
	border: 1px solid #FAF9FF;
    background: #FAF9FF;
    padding: 20px 30px;
    transition: 0.5s;
}
.service-1:hover{
	background: #fff;
    box-shadow: 0px 10px 20px 0px;
    transition: 0.5s;
}
.service-1 h3{
	font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    margin: 15px 0;
}
.service-1 i{
	font-size: 42px;
}
.service-1 p{
	font-family: 'Roboto', sans-serif;
}

.feature{
	width: 100%;
	background: #FAF9FF;
	padding: 80px 0;
}

.feature h1{
	font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 52px;
}

.feature p{
	font-family: 'Roboto', sans-serif;
}


.col-md-4{
	margin-top: 15px;
}

/* button */
button{
	padding: 15px 40px;
    border: 2px solid #21146A;
    border-radius: 35px;
    color: #3a414e;
    font-weight: 700;
	transition: 0.5s;
}

button:hover{
	background: #21146A;
	color: white;
	transition: 0.5s;
}
button {
    cursor: pointer;
}


/* mid content */
.mid-content{
	width: 100%;
	/* padding: 150px 0; */
	margin-top: 110px;
    margin-bottom: 50px;
	
}
.mid-content h1{
	font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.mid-content p{
	font-family: 'Roboto', sans-serif;
	margin-left: 220px;
    margin-right: 220px;
}

/* offer */

.col-lg-6 .offer-single{
    margin-bottom: 50px;
        position: relative;
    top: 40px;
}
.offer-single__content {
    border: 0;
    border-radius: 0;
    background: #faf9ff;
    padding: 30px 23px;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
    
}
.offer-single__content i{
	font-size: 30px;
	margin-bottom: 10px;
}
.offer-single__content h4{
	margin-top: 10px;
}
.offer-single__content p{
	margin-top: 10px;
	
}

/* solution start */
.solution{
	background-color: #FAF9FF;
	margin-top: 70px;
}
.solution img{
    position: relative;
    left: -60px;
}

.solution .col-lg-6 h2{
	font-family: "Rajdhani",sans-serif;
    color: #3a414e;
    line-height: 1.25;
    font-weight: 700;
    font-size: 36px;
    padding-top: 30px;
    margin-bottom: 20px;
}
.sol-text{
	    padding-left: 30px;
    padding-right: 45px;
}
.solution .col-lg-6 p{
	color: #797979;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    margin-bottom: 30px;
}
